backend/**/*.pth filter=lfs diff=lfs merge=lfs -text
backend/**/*.pt filter=lfs diff=lfs merge=lfs -text
backend/**/*.keras filter=lfs diff=lfs merge=lfs -text
backend/**/*.h5 filter=lfs diff=lfs merge=lfs -text
backend/**/*.pkl filter=lfs diff=lfs merge=lfs -text
backend/**/*.bin filter=lfs diff=lfs merge=lfs -text
backend/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
